DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=melee_mods

SESSION_SECRET=pon_aqui_algo_largo_y_aleatorio

PORT=3000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=tu_correo@gmail.com
MAIL_PASS=tu_app_password_de_16_caracteres
MAIL_FROM="Melee Mods <tu_correo@gmail.com>"

BASE_URL=http://localhost:3000
